body{
    background-color: #000000ad;
}
nav{
    margin-bottom: 10px;
}
h5,h1{
    color: #fbf9f6;
}
a:link, a:visited {
    color: #090909;
    text-decoration: none;
}
a:hover, a:active {
    color: #1cf559;
}
.accordion{
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 2%;
}

.cont{ 
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    padding: 10px;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 80%;
    background: rgb(0, 0, 0);
    opacity: 1;
    outline: none;
    height: 10px;
    border-radius: 20px;
    margin: 30px;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #000;
}
.slider::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #000;
}

.bot{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    padding: 10px;
    width: 120px;
    height: 40px;
}

